
.image{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.App{
  padding: 20px;
  border: 2px solid black;
}
.profile-container{
  display: flex;
  padding: 20px 10px;
}
.info{
  margin-left: 20px;
}
